/***********************TAG SELECTS********************/
body{
background-color:#FFFFE0;
}
hr{
border-style:dotted none none;
width: 100%;
border-color:grey;
border-width:5px;
}
h3{
  color: #0000FF;

}
h1{
  color: Aqua;
}
img{
background-color:red;
}
/***********************************class SELECTS********************/
.circle{
  border-radius: 100%;
}
.television{
  background-color: blue;
}
.fire{
background-color: green;
}
